.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(119, 138, 146, 0.8);
}

.upper-section {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.left-section, .middle-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section .subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-section {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid lightgray;
}

.copyright {
    color: lightblue;
}
