# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
local_settings.py

# Database files
*.db
*.sqlite3

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Documentation
docs/_build/

# macOS specific
.DS_Store


#custom
request.txt
visitors.csv